[Desktop Entry]
Type=Application
Name=fzmp
Comment=Fuzzy script to browse and select songs from MPD database
Exec=-T fzmp  {{ .chezmoi.homeDir }}/.local/bin/fzmp
Terminal=true
Icon=new-audio-alarm
Categories=Music;Audio;Player;ConsoleOnly
Keywords=mpd;music;media;player;audio;
