[Desktop Entry]
Type=Application
Name=Change Wallpaper
Comment=Script to change the current wallpaper, using hyprpaper fzf and sixel
Exec=-T setbg  {{ .chezmoi.homeDir }}/.local/bin/setbg
Terminal=true
Icon=desktop
Categories=Utility;DesktopSettings;;ConsoleOnly
